<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
	</head>
	<body>
		
		
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block body %}{% endblock %}
		<h1>{{ restaurant.name }}</h1>
		<a href="{{url_for('showRestaurants')}}">Return to restaurants</a>
		</br>
		<a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}">Add new menu item</a>
		
		{% for i in items %}
		<li>
		<h4>{{i.name}}</h4>
		<h4>{{i.description}}</h4>
		<h4>{{i.price}}</h4>
		<a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id )}}'>Edit</a>
		<a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id )}}'>Delete</a>
		</li>
		</br>
		</hr>
		</hr>
		{% endfor %}

	</body>
</html>